body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

canvas {
    border: 2px solid white;
}

#score {
    position: absolute;
    color: white;
    font-size: 24px;
    top: 10px;
}